@import url("./colors.css");

* {
  font-family:
    "Iosevka", "Inter", "JetBrains Mono", "JetBrainsMono Nerd Font",
    "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  /* background-color: transparent; */
  /* border-radius: 8px; */
  /* border: 1px solid rgba(160, 160, 160, 1); */
  background-color: @background;
  color: @foreground;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modules-right,
.modules-left,
.modules-center {
  /* margin-top: 4px; */
  /* margin-right: 4px; */
  /* margin-left: 4px; */
}

.modules-right,
.modules-left {
  /* border: 1px solid rgba(160, 160, 160, 1.5); */
  margin: 0px 4px;
}

.modules-right {
  /* background-color: @background; */
  background-color: transparent;
}

.modules-center {
  background-color: transparent;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); */
}

#custom-media {
  color: @primary;
  background-color: @background;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 0 0 4px;
}

#workspaces {
  /* background-color: @background; */
  background-color: transparent;
  /* border-radius: 8px; */
  padding: 0px 2px;
}

#workspaces button.active {
  color: @background;
  background-color: @accent;
  /* color: @accent; */
  /* border-bottom: 2px solid @accent; */
  /* padding: 4px 12px; */
}

#workspaces button.active:hover {
  color: @primary;
  border-bottom: 2px solid @primary;
  background: inherit;
}

#workspaces button.empty {
  /* color: @primary_dim; */
  background: @primary_dim;
  border-bottom: 2px solid @primary_dim;
}

#workspaces button {
  background-color: transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  padding: 0px 0px;
  color: @primary;
  transition:
    margin 150ms ease-in-out,
    padding 150ms ease-in-out;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    padding 0.2s ease;
}

#workspaces button:hover {
  /* background: @background_dim; */
  border-bottom: 2px solid @primary;
}

#workspaces button.urgent {
  background-color: @error;
  border-bottom: 2px solid @error;
  color: @on_error;
}

#battery,
#pulseaudio,
#pulseaudio-microphone,
#hyprland-window,
#backlight,
#custom-pacman,
#network,
#clock,
#custom-weather,
#temperature,
#window,
#cpu,
#memory,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon,
#custom-power {
  color: @primary;
  /* background-color: @background; */
  padding: 2px 8px;
}

#memory > span {
  font-family:
    "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Symbols Nerd Font",
    monospace;
  font-size: 12px;
}

#clock > span {
  font-family:
    "Iosevka Term", "FiraCode Nerd Font", "Symbols Nerd Font",
    monospace;
  font-size: 12px;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}
