@import url("./colors.css");

* {
  font-family:
    "Iosevka", "Inter", "JetBrains Mono", "JetBrainsMono Nerd Font",
    "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modules-right,
.modules-left,
.modules-center {
  margin: 0px 4px;
}

.modules-right {
  background-color: transparent;
}

.modules-center {
  background-color: transparent;
}

#workspaces {
  background-color: transparent;
  padding: 0px 2px;
}

#workspaces button.active {
  color: @background;
  background-color: @accent;
}

#workspaces button.active:hover {
  color: @primary;
  border-bottom: 2px solid @primary;
  background: inherit;
}

#workspaces button.empty {
  background: @primary_dim;
  border-bottom: 2px solid @primary_dim;
}

#workspaces button {
  background-color: transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  padding: 0px 0px;
  color: @primary;
  transition:
    margin 150ms ease-in-out,
    padding 150ms ease-in-out;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    padding 0.2s ease;
}

#workspaces button:hover {
  border-bottom: 2px solid @primary;
}

#workspaces button.urgent {
  background-color: @error;
  border-bottom: 2px solid @error;
  color: @on_error;
}

#battery,
#pulseaudio,
#pulseaudio-microphone,
#hyprland-window,
#backlight,
#custom-pacman,
#network,
#clock,
#custom-weather,
#temperature,
#window,
#cpu,
#memory,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon,
#custom-power,
#mpris,
#custom-cava {
  color: @primary;
  padding: 2px 8px;
}

#mpris.paused,
#custom-cava.paused {
  color: @primary_dim;
}

#memory > span {
  font-family:
    "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Symbols Nerd Font",
    monospace;
  font-size: 12px;
}

#clock > span {
  font-family:
    "Iosevka Term", "FiraCode Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 12px;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}
