
/* Custom CSS for material-fox-updated firefox theme */
html,
body {
  --md-text-primary: #eeffff; /* Foreground color */
  --md-text-secondary: #545454; /* Inactive tab foreground */
  --md-accent-color: #89ddff; /* Active border color */
  --md-background-color-0: #212121; /* Background color */
  --md-background-color-50: #242424; /* Inactive tab background */
  --md-background-color-100: #171717; /* Slightly darker background */
  --md-menu-background-color: #212121; /* Menu background */
  --md-menu-background-color-hover: rgba(50, 50, 50, 0.5); /* Hover effect */
  --md-menu-border-color: #545454; /* Menu border color */
  --md-content-separator-color: rgba(84, 84, 84, 0.7); /* Content separator */
  --md-selection-text-color: #eeffff; /* Selection foreground */
  --md-selection-background-color: #616161; /* Selection background */
  --md-text-on-accent: #212121; /* Text on accent color */
}
